
.comp:hover{
    cursor: pointer;
    transform: scale(1.06); 
    background-color: rgb(68, 60, 60);
}
.comp{
    border-radius: 10px;
    background-color: #241919;
    max-width: 650px;
    max-height: 620px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px #241919;
    justify-content: center;
    padding: 4px;
    transition: transform .4s; 
}

.box{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
}

#btn{
    height: 50px;
    width: 80px;
    font-size: 22px;
    margin-top: 30px;
    border-radius: 5px;
}
#btn2{
    height: 50px;
    width: 80px;
    font-size: 22px;
    margin-top: 30px;
    opacity: 0.6;
    pointer-events: none;
    
    
}
#btn2:hover{
    cursor: default;
}

.box::-webkit-scrollbar {
    width: 15px;
}
 
.box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(68, 63, 63, 0.3);
}
 
.box::-webkit-scrollbar-thumb {
  background-color: rgb(92, 85, 85);
  outline: 1px solid rgb(56, 70, 83);
}

body::-webkit-scrollbar {
    width: 15px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(68, 63, 63, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(62, 56, 56);
  outline: 1px solid rgb(56, 70, 83);
}


.modals{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.poster{
      position: fixed;
  }


  #ig2{
    display: flex;
        
        justify-content: center;
        border-radius: 10px;
        height: 420px;
        width: 280px;
        
        box-shadow: 5px 5px 5px rgb(42, 35, 35);
    }
  
  
  .det1{
      margin-bottom: 20px;
      font-size: 40px;
      
  }
  .det2{
      margin-top: 20px;
  }

  #warn{
    color: rgba(219, 35, 35, 0.582);
    margin-top: 20px;
    opacity: 0.8;
  }
